:root {
    --bs-border-opacity: 1;
    --bs-body-color: #555555;
    --bs-dark: red;
    --bs-border-color: rgb(204, 204, 204);
    --hcpss-dark-blue: rgb(44, 56, 73);
    --hcpss-blue: rgb(52, 148, 210);
    --hcpss-gray: rgb(152, 152, 152);
    --app-hover: rgb(230, 230, 230);
    --light-red: rgb(255, 251, 255);
    --bs-link-color-rgb: var(--hcpss-dark-blue);
    --bs-link-opacity: 1;
  }
  
  [data-bs-theme=dark] {
    --bs-body-color: white;
    --bs-border-color: rgba(204, 204, 204, .4);
    --hcpss-dark-blue: rgba(44, 56, 73, .4);
    --hcpss-blue: rgba(52, 148, 210, .4);
    --hcpss-gray: rgba(152, 152, 152, .4);
    --app-hover: rgba(230, 230, 230, .1);
    --light-red: rgba(255, 251, 255, .1);
    --bs-link-color-rgb: white;
    --bs-link-opacity: 1;
  }
  
  a {
    color: var(--bs-link-color-rgb);
  }
  
  .container {
    max-width: 960px;
  }
  
  hr {
    opacity: 1;
    color: var(--hcpss-blue);
    background-color: var(--hcpss-blue);
    height: 5px;
  }
  
  header h1 {
    font-family: 'Fira Sans', sans-serif;
  }
  
  header h1 a {
    text-decoration: none;
  }
  
  header h1 a, header h1 a:hover {
    color: var(--bs-body-color);
  }
  
  header h1 a:hover {
    text-decoration: underline;
  }
  
  .site-header {
    border-top: 12px solid var(--hcpss-blue);
    border-bottom: 32px solid var(--hcpss-gray);
  }
  
  .app.btn {
    text-align: left;
    font-size: x-large;
    height: 100px;
    padding: 10px;
  }
  
  .app:hover {
    background-color: var(--app-hover);
  }
  
  .site-footer {
    background-color: var(--hcpss-dark-blue);
    border-top: 5px solid var(--hcpss-blue);
  }
  
  .pledge {
    --bs-border-width: 2px;
    --bs-border-color: var(--hcpss-blue);
    background-color: var(--light-red);
  }
  
  figure { margin: 0; }
  ol li { margin: 1em 0; }
  
  .me-logo {
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    padding-left: 7%;
  }
  
  .bi {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
